header,
/* .view {
    margin-bottom: 100px;
} */
.bg-first-block {
    background: url(../image/czech.jpg) no-repeat;
}
.text-black{
    color: #000;
}

.card {
    border: 0;
    -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%)!important;
}
.g-4, .gy-4 {
    --mdb-gutter-y: 1.5rem;
}

.g-4, .gx-4 {
    --mdb-gutter-x: 1.5rem;
}
@media (min-width: 768px){
    .row-cols-md-2>*, .row-cols-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

@media (min-width: 768px){
    .row-cols-md-2 {
        width: 50%;
    } 
}
.row-cols-1 {
    width: 100%;
}
.row-cols-1, .row-cols-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}
.navbar {
    z-index: 100;
}
.font-size-18{
    font-size: 18px;
}
.font-size-48{
    font-size: 48px!important;
}
.font-size-28{
    font-size: 28px!important;
}
.font-size-25{
    font-size: 25px!important;
}
.carousel-caption {
  padding-bottom: 350px!important;
  /* font-size: 35px; */
}

.nav-item {
    padding-right: 5px;
}
.w-10 {
  width: 35%;
} 
.h-10 {
  height: 35%;
}
.nav-link {
    color: #fff!important;
}

.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
}
.card-box-shadow{
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(32, 176, 231, 0.23);
    border-radius: 7px;
}
.team{
    box-sizing: border-box;
}
.containerss{
    width: 80%;
    margin: 50px auto;
}
.rows {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.rows .column {
    margin: 0 10px;
    position: relative;
    width: calc(32% - 8px);
    min-height: 250px;
    background: #000;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    border: 0;
    border-radius: .25rem;
    margin-bottom: 20px;
}

.mgt50px {
    margin-top: 50px;
}
.rows .column .imgBox{
    position: relative;
}
.rows .column .imgBox img {
    width: 100%;
    transition: 5s;
}
.rows .column:hover .imgBox img {
    transform: scale(1.5);
}
.rows .column .details{
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.9);
    width: 100%;
    transition: .5s;
}
/* .rows .column:hover .details{
    bottom: 0px;
} */
.rows .column .details h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.counter-up {
    background: url("../image/carousel2.jpg") no-repeat;
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.counter-up::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
}
.counter-up .content {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.content .box {
    width: calc(25% - 30px);
    border: 1px dashed rgba(255,255,255,0,6);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    flex-direction: column;
}
.content .box .icon {
    font-size: 48px;
    color: #e6e6e6;
}
.content .box .counter {
    font-size: 89px;
    color: #f2f2f2;
    font-weight: 500;
    font-family: sans-serif;
}
.content .box .text {
    color: #ccc;
    font-weight: 400;
}
.counter-txt{
    font-size: 30px;
    padding-top: 10px;
    line-height: 350%;
}
.ct{
    padding-top: 15px;
}
.counter-txt-l{
    font-size: 30px;
    padding-top: 31px;
    line-height: 350%;
}
.main-title-block{
    font-size: 40px;
    padding-bottom: 10px;
}
.description-main-block{
    font-size: 25px;
}

.page-screen-head__title-wrap {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 30;
}

@media (max-width: 1036px) {
    .counter-up {
        padding: 50px 50px 0px 50px;
    }
    .content .box {
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }
}



@media (max-width: 580px) {
    .content .box {
       width: 100%;
    }
    
}

@media screen and (min-width: 1200px){
    .page-screen-head__title {
        font-size: 60px;
        padding-left: 75px;
    }
    .page-screen-head_start-position .page-screen-head__title-line.red-line-before {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

.page-screen-head__title {
    display: block;
    font-size: 50px;
    letter-spacing: .075em;
    z-index: 30;
    padding-left: 195px;
    padding-right: 175px;
    line-height: 1.3;
}
.page-screen-head__title-line {
    display: block;
    position: relative;
    color: #fff;}
.page-screen-head__title-line {
    display: block;
    position: relative;
    color: #fff;
}
.page-screen-head__title {
    display: block;
    font-size: 50px;
    letter-spacing: .075em;
    z-index: 30;
    padding-left: 195px;
    padding-right: 175px;
    line-height: 1.3;
}
.red-line-before:before {
    content: '';
    width: 135px;
    display: block;
    position: absolute;
    top: 50%;
    border-top: 1px solid #ec463f;
    left: -195px;
}
.first-screen .red-line-before:before {
    content: '';
    width: 150px;
    display: block;
    position: absolute;
    top: 50%;
    border-top: 1px solid #ec463f;
    left: -170px;
}
.red-line-before {
    margin-left: 120px;
}
.btn-tempo{
    background-color: #ec463f!important;
    color: white!important;
    padding: 12px 63px;
    transition: 0.5s;
}
.page-screen-head__title-line {
    display: block;
    position: relative;
    color: #fff;
}

/*footer*/
.footer-link{
    color: #797878;
}
.black {
  background-color: #000 !important;
}
.bg-black{
    background: #000;
}
.footer__nav-link:hover::after {
    width: 100%;
}
.footer a.footer__nav-link {
    color: #797878;
}
a:active, a:hover {
    outline: 0;
}
.footer__nav-link {
    color: #797878;
    text-shadow: none;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.footer__nav-link::after {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    color: #ec463f;
    -webkit-transition: width .5s;
    transition: width .5s;
    white-space: nowrap;
}
.bg-icon{
    color: #ec463f;
}
.bg-icon:hover{
    transition: fill .5s;
    color: white;
}
.headline {
    display: block;
    position: relative;
    max-width: 100%;
    padding-top: 30px;
}
.headline:before {
    display: table;
    content: "";
}
.headline__left {
    float: left;
}
.headline__left, .headline__right {
    position: relative;
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.headline__title {
    margin-left: 120px;
    position: relative;
    font-family: "FrizQuadrataRegular",serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #ec463f;
    line-height: 1.5em;
    letter-spacing: .05em;
}
.headline__title:before {
    content: '';
    width: 83px;
    display: block;
    position: absolute;
    border-top: 1px solid #d2d2d2;
    left: -120px;
    top: 20px;
}
.headline__right {
    float: right;
    padding-right: 20px;
}
.headline__left, .headline__right {
    position: relative;
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.headline__add-text {
    margin-top: 12px;
    position: relative;
    padding-left: 19px;
    line-height: 15px;
    font-size: 13px;
}
.headline__add-text:before {
    content: '#';
    position: relative;
    left: -4px;
}
.headline:after {
    clear: both;
}
.headline:after, .headline:before {
    display: table;
    content: "";
}
.about-text-div{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);    width: 430px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.about-text{
    position: relative;
    line-height: 1.5;
    padding-left: 55px;
    font-size: 16px;
    letter-spacing: .025em;
}
.icons-adv{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.bg-working{
    background-color: #fbfbfb;
}

@media screen and (max-width: 1200px)  {
    .page-screen-head__title-line:nth-child(n+2) {
        margin-left: 0;
        margin-top: 10px;
    }
    .headline__left {
        overflow: visible;
    }
    .headline__left, .headline__right {
        float: none;
        width: 100%;
    }
    .headline__title {
        margin-left: 52px;
        margin-bottom: 5px;
    }
    .about-text-div{
        float: none;
    }
    .about-text{
        margin-top: 0;
    }
    .headline__add-text{
        display: none;
    }

}
@media only screen and (max-width: 1199px) and (min-width: 769px){
    .headline__add-text:nth-child(1) {
        margin-top: 2px;
    }
    .headline__add-text {
        margin-left: 52px;
    }
    .main-title-block{
        font-size: 30px;
        padding-bottom: 10px;
    }
    .description-main-block{
        font-size: 20px;
    }
    .carousel-caption {
        padding-bottom: 230px!important;
        /* font-size: 35px; */
    }
    .ct{
        padding-top: 0px;
    }
    .counter-txt-l{
        padding-top: 20px;
    }

}


@media screen and (max-width: 990px) {
    .text-footer {
        text-align: center;
    }
    .text-icon{
        padding-left: 48px;
    }
    .text-footer-first{
        display: none;
    }
    .column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 766px) {
    .page-screen-head__title-wrap{
        top: 60%;
        margin: 0 10px;
    }
    .page-screen-head__title{
        left: 0;
        font-size: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .headline__title {
        margin-left: 0;
        font-size: 20px;
        line-height: 1.5em;
        letter-spacing: .1em;
    }
    .headline__add-text {
        margin-top: 10px;
        line-height: 17px;
    }

    .about-text{
        width: 100%;
        margin-left: 0;
        margin-top: 8px;
    }
    .facet-text{
        display: block;
    }
    .facet-image{
        display: block;
    }
    .carousel-item {
        padding-top: 40px;
    }
    .row-cols-1 {
        width: 110%;
    }
    .carousel-caption {
        padding-bottom: 150px!important;
        /* font-size: 35px; */
    }
    .font-size-48 {
        font-size: 28px!important;
    }
   
}
@media screen and (max-width: 990px) {
    .text-icon{
        padding-left: 28px;
    }

}

@media screen and (max-width: 768px) {
    .carousel-caption {
        padding-bottom: 114px!important;
    }

}




#popup__toggle2{bottom:15px;right:-16px;position:fixed;z-index:999;}
.img-circle2{background-color:#9d165700;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone2{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #368c66;width:100px;height:100px;bottom:9px;right:45px;position:absolute;-webkit-border-radius:0;-moz-border-radius: 0;border-radius: 100px;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill2{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#ffffff;width:90px;height:90px;bottom:14px;right:49px;position:absolute;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 100px;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle2{box-sizing:content-box;-webkit-box-sizing:content-box;width:90px;height:90px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border: 2px solid transparent;opacity: .7;}
.img-circleblock2{box-sizing:content-box;-webkit-box-sizing:content-box;width:90px;height:90px; border-radius: 50%; background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;cursor: pointer;}
.img-circle2:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}

    50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
  
